#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.generica{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#divPesquisar{
    display: none;
    margin: 10px;
}